<!DOCTYPE html>
<html>
  <head>
    <title>ChitChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Home</a>
      <ul class="nav navbar-nav">
        <% if current_user %>
            <li>Welcome back, <%= current_user.name %> <%= link_to "Log Out", logout_path, method: 'delete', class: "btn btn-secondary" %></li>
            <li class="nav-item"><%= link_to "Profile", user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "New Message", user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Inbox", received_messages_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sent", sent_messages_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Add Friends", users_path, class: "nav-link" %></li>
        <% else %>
          <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
          <%= link_to "Sign In", new_session_path, class: "btn btn-primary" %>
        <% end %>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
      </ul>
    </nav>


    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="alert alert-danger">
          <%= value %>
        </div>
        <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
